<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs a MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header id="page-header">
        <div id="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </a>
            </div>
            <div class="search-form">
                <div class="search-box">
                    <input class="search-input" placeholder="Buscar productos, marcas y más">
                    <button class="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav id="main-nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Ofertas</a></li>
                <li class="nav-item"><a href="#">Tiendas Oficiales</a></li>
                <li class="nav-item"><a href="#">Vender</a></li>
                <li class="nav-item"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-ing">
                <li class="nav-item"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li class="nav-item"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="nav-item"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div id="burger-menu">
            <i class="fa fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img class="w100" src="/img/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section class="product-section">
            <h3>Basado en tu última visita</h3>
            <div class="product-list">
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$100.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$10.000</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Samsung Smart TV 1000'</h4>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="product-section">
            <h3>Basado en tu última visita</h3>
            <div class="product-list">
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$100.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$10.000</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="product-background">
                        <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck truck-icon"></i>
                            <div class="price-container">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Samsung Smart TV 1000'</h4>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="foot">
            <div class="foot-div">
            <i class="fas fa-credit-card"></i>
            <h1 class="footer-tit">Paga con tarjeta o en efectivo</h1>
            <h2 class="footer-desc">Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeto o efectivo en puntos de pago.¡siempre es seguro!</h2>
            </div>
            <div class="foot-div">
            <i class="fas fa-gift"></i>
            <h1 class="footer-tit">Envio gratis desde $2500</h1>
            <h2 class="footer-desc">Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</h2>
            </div>
            <div class="foot-div">
            <i class="fas fa-user-shield"></i>
            <h1 class="footer-tit">Seguridad, de principio a fin</h1>
            <h2 class="footer-desc">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</h2>
            </div>
        </div>
        <h4 class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>

</html>