#page-header {
  background-color: #eac926;
  padding: 16px;
  padding-bottom: 29px;
}

#page-header .logo {
  width: 50%;
  margin-bottom: 15px;
}

#page-header .logo {
  padding: 10px;
}

#page-header #top-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#page-header #top-header .search-form {
  flex-grow: 1;
}

#page-header #top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#burger-menu {
  text-align: center;
}

#burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

#main-nav {
  font-size: 12px;
}

.nav-list {
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}

.nav-ing {
  list-style-type: none;
}

.nav-ing a {
  text-decoration: none;
  color: #000;
}

.nav-list .nav-item{
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
}

.nav-ing .nav-item{
  margin-left: 30px;
  float: right;
  margin-bottom: 15px;
}


