:root {
  --primary: #eac926;
  --main-yellow: #eac926;
  --dark-blue: #03264c;
  --light-blue: #1259c3;
  --dark-grey: #666;
  --light-grey: #ebebeb;
  --green: #39b54a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

h3 {
  color: #666;
}

.banner img {
  width: 100%;
}

main {
  margin: 0 auto;
  width: 90%;
}
